body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #777777;
  background: url("../images/movie.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
}

label { color:orange; font-weight: bold; display: block; width: 150px; float: left; } 

.jumbotron {
  padding: 0.8rem;
  margin-bottom: 0.5rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

p, h1, h4 {
	font-family: 'Roboto Slab', serif;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
  color:black;
}

h1,
h2,
h3,
p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: whitesmoke;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: wheat;
}

h1 {
  padding-bottom: 20px;
  font-size: 50px;
  line-height: 49px;
  border-bottom: 3px solid gold;
  color: aqua;
}

h2,
h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
  text-align: center;
  color: whitesmoke  ;
  }

/* footer */

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  background:black;
  height: 50px;
}

/* sticky footer 
   https://css-tricks.com/couple-takes-sticky-footer/ */

   .wrapper {
    height: 100%;
    min-height: 100%;
    margin: 0 auto -100px;
  }
  
  footer,
  .push {
    height: 50px;
  }

h3, h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eeeeee;
}

.image {
  max-width: 100%;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

@media only screen and (max-width:980px) {
  nav {
    margin-right: 5px;
  }
}


@media only screen and (max-width: 768px) {
  .main-section,
  .sidebar {
    max-width: 100%;
  }

  main {
    overflow: auto;
  }

  .work {
    /* Box-model */
    width: 47%;

    /* Positioning */
    margin-bottom: 10px;
  }

  .work:nth-child(even) {
    margin-right: 0;
  }

  .work:nth-child(odd) {
    float: right;
  }

  .auth-image {
    width: 50%;
  }

  .sidebar {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 640px){
  #masthead {
    /* Positioning */
    position: static;
    margin-bottom: 20px;
  }

  header .container {
    padding: 0;
  }

  main.container {
    padding-top: 0;
  }

  #logo,
  .work,
  .auth-image {
    width: 100%;
  }

  nav {
    /* Box-model */
    width: 100%;

    /* Positioning */
    margin: 15px 0;

    /* Typography */
    text-align: center;
  }

  nav a {
    /* Box-model */
    width: 30%;
    padding-left: 0;

    /* Positioning */
    margin-left: 0;
  }
}